<div class="content bg-gray-lighter round_box" >
    <div class="row items-push">
        <div class="col-sm-12 text-center title">
            <h5 class="text-center"> <span class="Textcolor">1</span> / 3</h5>
            <small><span class="Textcolor">2개를 더 응답해주세요.</span></small>
        </div>
    </div>
</div>
<div class="content col-sm-12 text-center bg-white round_box">
    <small>선택한 이미지와 연상되는 키워드를 입력해주세요.<span class="Textcolor">(3개)</span></small>
</div>

<div class="container AnswerTitle">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="col-xs-6 text-center imgbg"><img src="../../public/img/img_default.png" class="img-thumbnail img-check" style="width:160px; height: 160px;"></div>
                <div class="col-xs-1"></div>
                <div class="col-xs-5" style="margin-top: 10px;">
                    <div class="row form-group">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-trash"></span></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-trash"></span></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-trash"></span></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript" src="/view_js/survey/imgSelectType.js"></script>