<div class="content bg-gray-lighter round_box">
    <div class="row items-push">
        <div class="col-sm-12 text-center title">
            <h5 class="text-center"> <span class="color">1</span> / 5</h5>
            <small><span class="color">4개를 더 응답해주세요.</span></small>
        </div>
    </div>
</div>

<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group checked-list-box">
                <li class="list-group-item"> 하이트</li>
                <li class="list-group-item"> 클라우드</li>
                <li class="list-group-item"> 맥스</li>
                <li class="list-group-item"> 오비라거</li>
                <li class="list-group-item" data-checked="true"> 필라이트</li>
                <li class="list-group-item"> 하이네켄</li>
                <li class="list-group-item"> 강서맥주</li>
                <li class="list-group-item"> 더부스</li>
                <li class="list-group-item"> 버드와이저</li>
                <li class="list-group-item"> 호가든</li>
            </ul>
        </div>
    </div>
</div>

<script language="javascript" src="/view_js/survey/question.js"></script>