
<div class="content bg-gray-lighter round_box">
    <div class="row items-push">
        <div class="col-sm-12 text-center title">
            <h5 class="text-center"> <span class="Textcolor">1</span> / 5</h5>
            <small><span class="Textcolor">4개를 더 응답해주세요.</span></small>
        </div>

    </div>
</div>
<div class="content col-xs-12 text-center bg-white round_box" >
    <small>해당브랜드를 선호하나요?</small>
    <div class="bgline"></div>
    <div class="col-xs-5 Textcolor text-left">선호하지 않는다</div>
    <div class="col-xs-2 Textcolor text-center">보통</div>
    <div class="col-xs-5 Textcolor text-right">매우 선호한다</div>
</div>

<div class="row"></div>


<% for(var j = 0; j<10; j++) { %>
<div class="container AnswerTitle">
    <div class="box bg-white col-xs-12 AnswerContent">

        <div class="col-xs-4 scaleAnswer">
            <strong>제품<%=j+1%></strong>
        </div>
        <div class="col-xs-8 text-right scaleAnswer">
            <label class="css-input css-radio css-radio css-radio-color push-10-r push-10-l">
                <input type="radio" name="radio-group<%=j+1%>"><span></span> <strong class="btn-sm btn-default">모르겠음</strong>
            </label>
        </div>
        <div  class="scaleAnswerbg">
            <% for(var i = 0; i<7; i++) { %>
            <div class="scaleAnswerbg2" style="float:left; width:<%if(i==0 || i==6){%>15%<%}else{%>14%<%}%>;">
                <label class="css-input css-radio css-radio css-radio-color push-10-r push-10-l">
                    <input type="radio" name="radio-group<%=j+1%>"><span></span>
                </label>
            </div>
            <%}%>
        </div>
    </div>
</div>
<%}%>



<script language="javascript" src="/view_js/survey/img7scaleType.js"></script>
