<div class="row">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-10 title">
                질문그룹
            </div>
            <div class="col-xs-2 text-right">
                <button id="brandCategoryBtn" class="btn btn-danger btn-block btn-xs">+ 질문그룹 추가</button>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <thead>
                <tr>
                    <th>질문그룹ID</th>
                    <th>질문그룹 이름</th>
                    <th>메모</th>
                    <th>질문수</th>
                    <th>유형</th>
                    <th>참조</th>
                    <th>최근수정일</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="/question/group/detail/1">1</a></td>
                    <td><a href="/question/group/detail/1">제품관여도</a></td>
                    <td>1.0</td>
                    <td>2</td>
                    <td>7점척도</td>
                    <td></td>
                    <td>2018-01-31 23:59:59</td>
                    <td>사용중</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>구매동기2 요인</td>
                    <td>1.0</td>
                    <td>2</td>
                    <td>7점척도</td>
                    <td></td>
                    <td>2018-01-31 23:59:59</td>
                    <td>대기(삭제)</td>
                <tr>
                    <td>3</td>
                    <td>타겟</td>
                    <td>1.0</td>
                    <td>4</td>
                    <td>7점척도</td>
                    <td></td>
                    <td>2018-01-31 23:59:59</td>
                    <td>사용중</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>상황가치</td>
                    <td>1.0</td>
                    <td>10</td>
                    <td>7점척도</td>
                    <td></td>
                    <td>2018-01-31 23:59:59</td>
                    <td>사용중</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>



<script language="javascript" src="/view_js/brand/list.js"></script>