<div class="row">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-10 title">
                브랜드 카테고리
            </div>
            <div class="col-xs-2 text-right">
                <button id="brandCategoryBtn" class="btn btn-danger btn-xs">카테고리 추가</button>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">

            </table>
        </div>
    </div>
</div>



<script language="javascript" src="/view_js/brand/list.js"></script>