<div id="app">
    <div class="row">


        <div class="col-xs-12 bg-white box round_box">
            <div class="row">
                <div class="col-xs-10 title">
                    <h3 class="block-title">키워드 카테고리</h3>
                </div>
                <div class="col-xs-2 text-right">
                    <button class="btn btn-danger btn-sm btn-rounded" v-on:click="keywordModal">카테고리 추가</button>
                </div>
            </div>
            <div class="contents_list">
                <table id="list" class="table table-bordered fontsize">
                    <col width="10%">
                    <col width="70%">
                    <col width="20%">

                    <thead>
                    <tr>
                        <th class="text-center">카테고리코드</th>
                        <th class="text-center">카테고리명</th>
                        <th class="text-center">상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in  list">
                        <td class="text-center">{{item.CODE_KEYWORD_CATEGORY}}</td>
                        <td>{{item.CODE_KEYWORD_CATEGORY_NAME}}</td>
                        <td class="text-center">
                            <button class="btn btn-xs btn-warning" v-on:click="keywordModify(index)">수정</button>
                            <button class="btn btn-xs btn-danger" v-on:click="keywordDelete(index)">삭제</button>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>



    <!-- 단일선택형 등록폼 모달 -->
    <div class="modal fade" id="keywordModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-primary-dark">
                        <ul class="block-options">
                            <li>
                                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">이미지 DB 카테고리 등록</h3>
                    </div>
                    <div class="block-content">
                        <input type="hidden" id="img_code">
                        <table class="table table-bordered fontsize">
                            <col width="15%">
                            <col width="85%">
                            <tbody>
                            <tr>
                                <th class="text-center">카테고리코드<span class="check">*</span></th>
                                <td >
                                    <input type="text" id="category_code" class="form-control" v-model="modal.category_code" placeholder="카테고리 코드" disabled>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">카테고리 명<span class="check">*</span></th>
                                <td>
                                    <input type="text" id="category_name" class="form-control" v-model="modal.category_name" placeholder="카테고리명을 입력해주세요.">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">닫기</button>
                    <button class="btn btn-sm btn-danger" v-on:click="keywordWrite" type="button"><i class="fa fa-check"></i> 저장</button>

                </div>
            </div>
        </div>
    </div>

</div>

<script language="javascript" src="/view_js/code/keywordCategory.js"></script>