body {
    background-color:#F8F8F8;

}
img {

    display:block;
    float:left;

}

.container_survey { min-height:100% }
.container_survey .content { min-height: 100%;
    position: relative;
    padding-bottom: 19px; }
.footer_survey {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #333333;
}

.titleBox { background-color:#fff; padding:10px 10px 15px 10px; box-shadow: 0px 0px 10px 2px #ccc; }
.titleBox2 { background-color:#fff; box-shadow: 0px 0px 10px 2px #ccc; }
.titleBox3 { background-color:#fff; box-shadow: 0px 0px 1px 1px #ccc; }
.titleCountBg { background-color:#F8F8F8; padding:10px 0px; }
.titleSelectBg { padding:10px 0px; }
.subBox { box-shadow: 0px 0px 10px 2px #ccc;  }
.subRadioBox { }

.surveyContents { padding:0px 10px; }
.Textcolor{color:#DA4211}
.bgline{background-color: #4d4d4d; height: 1px; margin-bottom: 10px; margin-top: 10px;}

button { box-shadow: 0px 0px 10px 1px #ccc; }



.btn-select { color:#fff; background-color:#DA4211; }
.btn-select:hover { color:#fff; }
.btn-select:active:hover { color:#fff; }
.btn-select:focus { color:#fff; }


.imgbg { background-color:#F6F6F6; border-top:1px solid #979797; border-left:1px solid #979797; border-right:1px solid #979797; padding:20px; }
.imgBox_off { border:1px solid #B2B2B2; text-align: center; padding:10px; }
.imgBox_on { border:2px solid #DA4211; text-align: center; padding:10px; }
.imgBox_sub { border:1px solid #B2B2B2; text-align: center; padding:10px; }

.radio {
    /* position: relative; */
    /* display: inline-block; */
    /* margin: 2px 0; */
    font-weight: 400;
    cursor: pointer;
}

.radio input {
    position: absolute;
    opacity: 0;
}

.radio input + span {
    width: 18px;
    height: 18px;
    background-color: #fff;
    margin:-2px 5px 0 0px;
    vertical-align:middle;
    background:url('/img/survey/radio_checkbox_bg.png') -49px no-repeat;

    cursor:pointer;
}


.radio input + span:after {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.radio input:checked + span:after {
    opacity: 1;
}
.radio:hover input + span {
    border-color: #ccc;
}
.radio input:checked + span:after {
    width: 18px;
    height: 18px;
    background-color: #fff;
    margin:-2px 5px 0 -2px;
    vertical-align:middle;
    background:url('/img/survey/radio_checkbox_bg.png') -71px no-repeat;

    cursor:pointer;
}


.scale {
    /* position: relative; */
    /* display: inline-block; */
    /* margin: 2px 0; */
    font-weight: 400;
    cursor: pointer;
}

.scale input {
    position: absolute;
    opacity: 0;
}

.scale input + span {
    width: 18px;
    height: 18px;
    background-color: #fff;
    margin:-2px 5px 0 0px;
    vertical-align:middle;
    background:url('/img/survey/scaleoff.png') 2px no-repeat;
    cursor:pointer;
}


.scale input + span:after {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.scale input:checked + span:after {
    opacity: 1;
}
.scale:hover input + span {
    border-color: #ccc;
}
.scale input:checked + span:after {
    width: 19px;
    height: 19px;
    background-color: #fff;
    margin:-2px 5px 0 -2px;
    vertical-align:middle;
    background:url('/img/survey/scaleon.png') -1px no-repeat;
    cursor:pointer;
}


.checkbox {
    /* position: relative; */
    /* display: inline-block; */
    /* margin: 2px 0; */
    font-weight: 400;
    cursor: pointer;
}

.checkbox input {
    position: absolute;
    opacity: 0;
}

.checkbox input + span {
    width: 18px;
    height: 18px;
    background-color: #fff;
    margin:-2px 5px 0 0px;
    vertical-align:middle;
    background:url('/img/survey/radio_checkbox_bg.png') -5px no-repeat;

    cursor:pointer;
}


.checkbox input + span:after {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.checkbox input:checked + span:after {
    opacity: 1;
}
.checkbox:hover input + span {
    border-color: #ccc;
}
.checkbox input:checked + span:after {
    width: 18px;
    height: 18px;
    background-color: #fff;
    margin:-2px 5px 0 -2px;
    vertical-align:middle;
    background:url('/img/survey/radio_checkbox_bg.png') -26px no-repeat;

    cursor:pointer;
}

.img_background {
    background:#000;
    opacity: 0.5;
}

.per_class {
    font-size:1.8em;
    color:#fff;
    width:100%;

}
/*
.radio input[type="radio"] {
    display:none;
}
.radio input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url('/img/survey/radio_checkbox.png') left top no-repeat;
    cursor:pointer;
}
.radio input[type="radio"]:checked + label span {
    background:url('/img/survey/radio_checkbox.png') -19px top no-repeat;
}
*/