<div class="row">
    <input type="hidden" id="campaign_code">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">브랜드 풀 선택하기</span>
                <div class="sub">답변자가 선택할 수 있는 브랜드들을 선택해주세요.<span class="color">(최소 5개)</span></div>
            </div>
        </div>
        <div class="contents_list">
            <table class="table table-bordered fontsize">
                <col width="5%">
                <col width="10%">
                <col width="30%">
                <col width="5%">
                <col width="30%">
                <thead>
                <tr>
                    <th>선택</th>
                    <th>브랜드ID</th>
                    <th>브랜드이름</th>
                    <th>메모</th>
                    <th>참조</th>
                    <th>최종수정일</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-6 push-20-t">
            <button class="btn btn-sm btn-block btn-primary backBtn">이전</button>
        </div>

        <div class="col-xs-6 push-20-t text-right">
            <button id="brandBtn" class="btn btn-sm btn-block btn-danger">다음</button>
        </div>
    </div>
</div>






<script language="javascript" src="/view_js/campaign/brandPool.js"></script>