<div class="row">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-12 title">
                가상 브랜드 사용여부 - 설문 답변시 리스트 하단에 위치하고 모두가 답변할 가상 브랜드사용 여부를 결정해주세요 가상브랜드를 포함해 총 5개의 브랜드에 대하여 참여자의 답변이 이루어집니다. (필수)
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="50%">
                <col width="50%">
                <thead>
                    <tr>
                        <th colspan="2">가상브랜드 - 1111</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="radio" class="visual_yn" value="Y"> 사용하기</td>
                        <td><input type="radio" class="visual_yn" value="N"> 사용하지않기</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-12 bg-white box round_box push-10-t">
        <div class="row">
            <div class="col-xs-12 title">
                고정브랜드 선택하기 - 설문 답변시 리스트 상단에 위치하고 모두가 답변할 고정 브랜드를 선택해주세요.
            </div>

            <div class="col-xs-12 push-10-t">
                <table class="table table-bordered fontsize">
                    <thead>
                        <tr>
                            <th>선택</th>
                            <th>브랜드ID</th>
                            <th>브랜드이름</th>
                            <th>메모</th>
                            <th>참조</th>
                            <th>최종수정일</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-xs-6 push-20-t">
            <button class="btn btn-sm btn-block btn-primary backBtn">이전</button>
        </div>

        <div class="col-xs-6 push-20-t text-right">
            <button id="surveyCreate" class="btn btn-sm btn-block btn-danger">다음</button>
        </div>
    </div>
</div>






<script language="javascript" src="/view_js/campaign/write.js"></script>