<div class="row">
    <input type="hidden" id="campaign_code" value="">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-12 title">
                <span class="color">질문 퀘스트 설정하기</span>
                <div class="sub">질문 그룹별 퀘스트를 선택해주세요. 참여자가 1차 퀘스트에 답변하면 2차 퀘스트에 참여할 수 있는 방식으로 이루어집니다. 순서 중간이 비어 있으면 질문이 생성이 되지 않습니다 (예: 1,2,4 단계를 선택하게 되면 2단계와 4단계 사이에 3단계 비어 있어 설문이 생성이 되지 않습니다.) 모든 질문을 사용하지 않아도 됩니다.</div>
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="5%">
                <col width="5%">
                <col width="25%">
                <col width="5%">
                <col width="5%">
                <col width="10%">
                <col width="35%">
                <thead>
                    <tr>
                        <th>퀘스트</th>
                        <th>영역ID</th>
                        <th>영역이름</th>
                        <th>메모</th>
                        <th>항목수</th>
                        <th>유형</th>
                        <th>참조</th>
                        <th>최종수정일</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-6 push-20-t">
            <button class="btn btn-sm btn-block btn-primary backBtn">이전</button>
        </div>

        <div class="col-xs-6 push-20-t text-right">
            <button id="brandBtn" class="btn btn-sm btn-block btn-danger">다음</button>
        </div>
    </div>
</div>




