<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>BrandProfiling-ADMIN</title>

    <meta name="description" content="브랜드프로파일-관리자">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">


    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">


</head>
<body>



<div id="page-container">


    <!-- Header -->
    <header id="header-navbar">

        <div class="top_gnb_menu">
            <div class="menu ">
                <div class="logo"><img src="/img/logo.png"></div>
                <div class="menu_btn">
                    <ul>
                        <li><a href="/campaign/list" class="campaign">설문관리</a></li>
                        <li><a href="/statistics/campaign" class="statistics">통계관리</a></li>
                        <li><a href="/users/list" class="users">사용자관리</a></li>
                        <li><a href="/users/pointRequest" class="point">환급신청</a></li>
                        <li><a href="/brand/list" class="brand">브랜드관리</a></li>
                        <li><a href="/question/group" class="question">문항관리</a></li>
                        <li><a href="/notice/list" class="notice">공지사항</a></li>
                        <li><a href="/users/panel" class="panel">전문패널관리</a></li>
                    </ul>
                </div>
                <div class="logout">
                    <ul>
                        <li>관리자<a href="#" id="adminPwd"><span>(패스워드변경)</span></a></li>
                        <li style="padding-left:10px;">
                            <a href="/logout" class="btn btn-danger btn-sm">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
        <div class="top_gnb_menu_sub" style="display:none;">
            <div class="menu">
                <div class="menu_btn">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        -->
    </header>
    <!-- END Header -->

    <!-- Main Container -->
    <main id="main-container">


        <!-- 가운데 컨텐츠 -->
        <div class="contents">


            <%- body %>


        </div>




    </main>
    <!-- Footer -->
    <footer id="page-footer" class="page-footer">

    </footer>
    <!-- END Footer -->
</div>
<!-- END Page Container -->



<!-- 단일선택형 등록폼 모달 -->
<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">관리자패스워드 변경</h3>
                </div>
                <div class="block-content">
                    <input type="hidden" id="img_code">
                    <table class="table table-bordered fontsize">
                        <col width="15%">
                        <col width="85%">
                        <tbody>
                        <tr>
                            <th class="text-center">현재 패스워드<span class="check">*</span></th>
                            <td >
                                <input type="password" id="now_passwd" class="form-control" placeholder="통계 활용에 쓰일 질문이름(키워드)을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">변경 패스워드<span class="check">*</span></th>
                            <td>
                                <input type="password" id="reset_passwd" class="form-control" placeholder="설문참여시 사용자에게 보여질 질문 내용을 입력해주세요.(필수)">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">변경 패스워드 확인</th>
                            <td colspan="7">
                                <input type="password" id="reset_passwd_ok" class="form-control" placeholder="영문 질문 설명을 입력해주세요.">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">닫기</button>
                <button id="pwdSave" class="btn btn-sm btn-danger" type="button"><i class="fa fa-check"></i> 저장</button>
            </div>
        </div>
    </div>
</div>


</body>
<script src="/assets/js/core/jquery-1.12.4.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/core/jquery.slimscroll.min.js"></script>
<script src="/assets/js/core/jquery.scrollLock.min.js"></script>
<script src="/assets/js/core/jquery.appear.min.js"></script>
<script src="/assets/js/core/jquery.countTo.min.js"></script>
<script src="/assets/js/core/jquery.placeholder.min.js"></script>
<script src="/assets/js/core/js.cookie.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/js/common.js"></script>
<script src="/assets/js/plugins/select2/select2.full.min.js"></script>
<script src="/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script src="/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/plugins/masked-inputs/jquery.maskedinput.min.js"></script>
<script src="/assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script>
    $(function () {
        // Init page helpers (BS Datepicker + BS Datetimepicker + BS Colorpicker + BS Maxlength + Select2 + Masked Input + Range Sliders + Tags Inputs plugins)
        App.initHelpers(['datepicker', 'datetimepicker', 'colorpicker', 'maxlength', 'select2', 'masked-inputs', 'rangeslider', 'tags-inputs']);
    });
</script>
<script language="javascript">
    $(function() {
        $("#adminPwd").click(function() {
            $("#adminModal").modal("show");
        });

        $("#pwdSave").click(function() {
            if($("#now_passwd").val() == false) {
                alert("현재 패스워드를 입력해주세요.");
                $("#now_passwd").focus();
                return;
            }

            if($("#reset_passwd").val() == false) {
                alert("변경할 패스워드를 입력해주세요.");
                $("#reset_passwd").focus();
                return;
            }

            if($("#reset_passwd_ok").val() == false) {
                alert("변경할 패스워드가 일치하지 않습니다.");
                $("#reset_passwd_ok").focus();
                return;
            }

            var jsonData = {
                now_passwd : $("#now_passwd").val()
                ,reset_passwd : $("#reset_passwd").val()
            }

            common.ajax.send('/users/adminPwdUpdate', jsonData);
            common.ajax.return = function(data) {
                switch (data.ERR_CODE) {
                    case "000":
                        alert("정상적으로 업데이트 되었습니다.");
                        $("#adminModal").modal("hide");
                        break;
                    default:
                        alert(data.ERR_MSG);
                        $("#now_passwd").val("");
                        $("#reset_passwd").val("");
                        $("#reset_passwd_ok").val("");``

                        break;
                }
            }
        });
        //adminModal
    });
</script>
<%- script %>

</html>