<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>BrandProfiling-ADMIN</title>

    <meta name="description" content="브랜드프로파일-관리자">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">


    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">


</head>
<body>



<div id="page-container">


    <!-- Header -->
    <header id="header-navbar">

        <div class="top_gnb_menu">
            <div class="menu ">
                <div class="logo"><img src="/img/logo.png"></div>
                <div class="menu_btn">
                    <ul>
                        <li><a href="/campaign/list" class="campaign">설문관리</a></li>
                        <li><a href="/statistics/campaign" class="statistics">통계관리</a></li>
                        <li><a href="/users/list" class="users">사용자관리</a></li>
                        <li><a href="/brand/list" class="brand">브랜드관리</a></li>
                        <li><a href="/question/group" class="question">문항관리</a></li>
                        <!--<li><a href="/notice/noticeList" class="notice">공지사항</a></li>-->
                    </ul>
                </div>
                <div class="logout">
                    <ul>
                        <li>관리자<span>(Master)</span></li>
                        <li style="padding-left:10px;">
                            <a href="/" class="btn btn-danger btn-sm">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
        <div class="top_gnb_menu_sub" style="display:none;">
            <div class="menu">
                <div class="menu_btn">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        -->
    </header>
    <!-- END Header -->

    <!-- Main Container -->
    <main id="main-container">


        <!-- 가운데 컨텐츠 -->
        <div class="contents">


            <%- body %>


        </div>




    </main>
    <!-- Footer -->
    <footer id="page-footer" class="page-footer">

    </footer>
    <!-- END Footer -->
</div>
<!-- END Page Container -->

</body>
<script src="/assets/js/core/jquery-1.12.4.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/core/jquery.slimscroll.min.js"></script>
<script src="/assets/js/core/jquery.scrollLock.min.js"></script>
<script src="/assets/js/core/jquery.appear.min.js"></script>
<script src="/assets/js/core/jquery.countTo.min.js"></script>
<script src="/assets/js/core/jquery.placeholder.min.js"></script>
<script src="/assets/js/core/js.cookie.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/js/common.js"></script>
<script src="/assets/js/plugins/select2/select2.full.min.js"></script>
<script src="/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script src="/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/plugins/masked-inputs/jquery.maskedinput.min.js"></script>
<script src="/assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script>
    $(function () {
        // Init page helpers (BS Datepicker + BS Datetimepicker + BS Colorpicker + BS Maxlength + Select2 + Masked Input + Range Sliders + Tags Inputs plugins)
        App.initHelpers(['datepicker', 'datetimepicker', 'colorpicker', 'maxlength', 'select2', 'masked-inputs', 'rangeslider', 'tags-inputs']);
    });
</script>
<%- script %>

</html>