
<div class="row">
    <input type="hidden" id="seq" value="<%=seq%>">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-10 title">
                <h3 class="block-title">공지사항 등록</h3>
            </div>
            <div class="col-xs-2 text-right">
               <!-- <a href="/notice/write" class="btn btn-danger btn-block btn-xs btn-rounded">공지사항 추가</a> -->
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <col width="20%">
                <col width="80%">
                <tbody>
                <tr>
                    <th class="text-center">BP2 & BP3</th>
                    <td><input name="notice_type" class='notice_type' type="radio" <% if(notice_type == "BP2") { %> checked <% } %> value = "BP2"> BP2&nbsp;&nbsp;&nbsp;<input name="notice_type" type="radio" class='notice_type' <% if(notice_type == "BP3") { %>  checked <% } %> value = "BP3"> BP3</td>
                </tr>
                <tr>
                    <th class="text-center">노출여부</th>
                    <td><input name="use_yn" class='notice_yn' type="radio" <% if(use_yn == "Y") { %> checked <% } %> value = "Y"> 노출&nbsp;&nbsp;&nbsp;<input name="use_yn" type="radio" class='notice_yn' <% if(use_yn == "N") { %>  checked <% } %> value = "N"> 미노출</td>
                </tr>
                <tr>

                    <th class="text-center">제목</th>
                    <td>
                        <input id="notice_subject" type="text" class="form-control" value="<%=subject%>">
                    </td>
                </tr>
                <tr>

                    <th class="text-center">내용</th>
                    <td>
                        <textarea id="notice_contents" class="form-control" rows="10" ><%=contents%></textarea>
                    </td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 push-20-t push-20">
            <button class="btn btn-sm btn-block btn-primary backBtn">이전</button>
        </div>

        <div class="col-xs-6 push-20-t push-20 text-right">
            <button id="noticeSave" class="btn btn-sm btn-block btn-danger">저장</button>
        </div>
    </div>
</div>
<script language="javascript" src="/view_js/notice/write.js"></script>