<div class="row">
    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-12 title">
                통계를 볼 카테고리를 선택해주세요.
            </div>
        </div>
        <div class="contents_list">
            <table id="list" class="table table-bordered fontsize">
                <thead>
                <tr>
                    <th>카테고리ID</th>
                    <th>카테고리 이름</th>
                    <th>메모</th>
                    <th>카테고리 영문</th>
                    <th>카테고리 중문</th>
                    <th>참조</th>
                    <th>최근수정</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



<script language="javascript" src="/view_js/brand/list.js"></script>