<div class="row">

    <div class="col-xs-12 bg-white box round_box">
        <div class="row">
            <div class="col-xs-10 title">
                통계조회 - 2017-08-21 13:31:03
            </div>
        </div>
    </div>
</div>